<a href="https://colab.research.google.com/github/chetu5580/project2/blob/main/vehicle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

data=pd.read_csv(r"vehicles_dataset.csv")
df1=data.describe()
print(df1)

              year          price   cylinders      mileage       doors
count  1002.000000     979.000000  897.000000   968.000000  995.000000
mean   2023.916168   50202.985700    4.975474    69.033058    3.943719
std       0.298109   18700.392062    1.392526   507.435745    0.274409
min    2023.000000       0.000000    0.000000     0.000000    2.000000
25%    2024.000000   36600.000000    4.000000     4.000000    4.000000
50%    2024.000000   47165.000000    4.000000     8.000000    4.000000
75%    2024.000000   58919.500000    6.000000    13.000000    4.000000
max    2025.000000  195895.000000    8.000000  9711.000000    5.000000

In [5]:
df=data.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1002 non-null   object
 1   description     946 non-null    object
 2   make            1002 non-null   object
 3   model           1002 non-null   object
 4   type            1002 non-null   object
 5   year            1002 non-null   int64
 6   price           979 non-null    float64
 7   engine          1000 non-null   object
 8   cylinders       897 non-null    float64
 9   fuel            995 non-null    object
 10  mileage         968 non-null    float64
 11  transmission    1000 non-null   object
 12  trim            1001 non-null   object
 13  body            999 non-null    object
 14  doors           995 non-null    float64
 15  exterior_color  997 non-null    object
 16  interior_color  964 non-null    object
 17  drivetrain      1002 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 141.0+ KB
None